@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7e9dc;
    font-family: 'DM Sans', sans-serif;
}

main{
    display: grid;
    grid-template-rows: 20% auto;
    width: 29rem;
    height: 38rem;
    border-radius: 20px;
    
}

hr{
    height:1px;
    opacity: 50%;
    margin-top: 1.5rem;
    background-color: rebeccapurple;
}

.main-balance{
    display: flex;
    padding: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
    background-color:  hsl(10, 79%, 65%);
    border-radius: 20px;
    justify-content: space-between;
    color: white;
    line-height: 2.3rem;
}

.main-balance-logo{
    /* original svg logo size */
    height: 48px;
    width: 72px;
    background-image: url('./images/logo.svg');
    background-size: cover;
    background-repeat: no-repeat;
}


.main-spending{
    margin-top: 20px;
    border-radius: 20px;
    /* background-color: yellowgreen; */
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    background-color: #fffcf7;
    /* background-color: white; */
    /* border: 1px solid black; */
}

.main-spending-stats{
    height: 60%;
    display: grid;
    grid-template-columns: repeat(7, auto);
    align-items: flex-end;
    text-align: center;
    /* margin: 4rem; */
}

.main-review{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    /* padding-bottom: 2rem; */
    /* background-color: rebeccapurple; */
}

.main-review-current h1{
    font-size: 3rem;
}

.main-review-current p{
    opacity: 80%;
}

.main-review-past{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    line-height: 1.5rem;
}

.main-review-past span {
    font-size: 20px;
    font-weight: 700;
}
.main-review-past p {
    opacity: 80%;
}



.main-box{
    background-color: hsl(10, 79%, 65%);
    border-radius: 5px;
    cursor: pointer;
}

.main-box:hover{
    opacity: 80%;
}


.boxPrice{
    visibility: hidden;
    font-size: 1.1rem;
    padding-left: 4px;
    padding-right: 4px;
}


.boxPrice-active{
    visibility: visible;
    font-size: 1.1rem;
    width: auto;
    background-color: hsl(25, 47%, 15%);
    margin-bottom: 1rem;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 3px;
    color: white;
}

.boxPrice-highestPrice{
     background-color: hsl(186, 34%, 60%);
}