*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    display: grid;
    grid-template-rows: 20% auto;
    width: 30rem;
    height: 40rem;
    border-radius: 20px;
    
}

.main-balance{
    display: flex;
    padding: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
    background-color:  hsl(10, 79%, 65%);
    border-radius: 20px;
    justify-content: space-between;
}

.main-balance-logo{
    /* original svg logo size */
    height: 48px;
    width: 72px;
    background-image: url('./images/logo.svg');
    background-size: cover;
    background-repeat: no-repeat;
}


.main-spending{
    margin-top: 20px;
    border-radius: 20px;
    /* background-color: yellowgreen; */
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;

    background-color: white;
    border: 1px solid black;
}

.main-spending-stats{
    height: 70%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    align-items: flex-end;
}

.main-spending-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.main-spending-datail-2{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    /* background-color: rebeccapurple; */
}

.main-box{
    background-color: green;
    cursor: pointer;
}

.boxContainer{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

/* .main-box:hover{
    background-color: black;
} */
.boxPrice{

    visibility: hidden;
    margin: auto;
    padding: 5px;
    background-color: rebeccapurple;
    /* width: 70%; */
    border-radius: 5px;
    color: white;
}


.boxPrice-active{
    /* background-color: royalblue; */
    visibility: visible;
}
